<div class="brand">CeleBrazil</div>
<div class="address-bar">440 College St | Toronto, ON M5T 1T3 | 123.456.7890</div>

<%= render 'layouts/navigation' %>

<div class="container">

  <div class="row">

      <div class="box">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <!--<th><%#= model_class.human_attribute_name(:address) %></th>-->
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <%= render user %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      
  </div>

</div>
<!-- /.container -->
